
<div class="home-caracteristicas">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>CARACTERISTICAS</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="home-caracteristicas-img" src="assets/images/features1.svg" alt="img">
                        </div>
                        <div class="col-md-6">
                            <div class="home-caracteristicas-right">
                                <ul>
                                    <li>
                                        <h3>Option 1</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus caracteristicass. Donec quam felis,</p>
                                    </li>
                                    <li>
                                        <h3>Option 1</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus caracteristicass. Donec quam felis,</p>
                                    </li>
                                    <li>
                                        <h3>Option 3</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus caracteristicass. Donec quam felis,</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
        