
<section class="profesiones-top">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>PROFESIONES MAS BUSCADAS</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class='profesiones-top-card' style="background-image: url('https://source.unsplash.com/collection/9700225');">
                            <div class='profesiones-top-dimmer'></div>

                            <div class='profesiones-top-project-type'>
                                <a class='profesiones-top-fa fa fa-heart' data-lightbox='image-1' data-title='short description of the project (or date)' href="#"></a>
                            </div>
                            <div class='profesiones-top-content'>
                                <div class='profesiones-top-description'>Desarrollo web</div>
                                <ul class='profesiones-top-libraries'>
                                    <li>RAW</li>
                                    <li>Photoshop CC</li>
                                    <li>RAW</li>
                                    <li>Photoshop CC</li>
                                    <li>RAW</li>
                                    <li>Photoshop CC</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class='profesiones-top-card' style="background-image: url('https://source.unsplash.com/collection/9700225');">
                            <div class='profesiones-top-dimmer'></div>
                            <div class='profesiones-top-project-type'>
                            <a class='profesiones-top-fa fa fa-heart' data-lightbox='image-1' data-title='short description of the project (or date)' href="#"></a>
                            </div>
                            <div class='profesiones-top-content'>
                            <div class='profesiones-top-description'>Desarrollo web</div>
                            <ul class='profesiones-top-libraries'>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                            </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class='profesiones-top-card' style="background-image: url('https://source.unsplash.com/collection/9700225');">
                            <div class='profesiones-top-dimmer'></div>
                            <div class='profesiones-top-project-type'>
                            <a class='profesiones-top-fa fa fa-heart' data-lightbox='image-1' data-title='short description of the project (or date)' href="#"></a>
                            </div>
                            <div class='profesiones-top-content'>
                            <div class='profesiones-top-description'>Desarrollo web</div>
                            <ul class='profesiones-top-libraries'>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                            </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class='profesiones-top-card' style="background-image: url('https://source.unsplash.com/collection/9700225');">
                            <div class='profesiones-top-dimmer'></div>
                            <div class='profesiones-top-project-type'>
                            <a class='profesiones-top-fa fa fa-heart' data-lightbox='image-1' data-title='short description of the project (or date)' href="#"></a>
                            </div>
                            <div class='profesiones-top-content'>
                            <div class='profesiones-top-description'>Desarrollo web</div>
                            <ul class='profesiones-top-libraries'>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                            </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class='profesiones-top-card' style="background-image: url('https://source.unsplash.com/collection/9700225');">
                            <div class='profesiones-top-dimmer'></div>
                            <div class='profesiones-top-project-type'>
                            <a class='profesiones-top-fa fa fa-heart' data-lightbox='image-1' data-title='short description of the project (or date)' href="#"></a>
                            </div>
                            <div class='profesiones-top-content'>
                            <div class='profesiones-top-description'>Desarrollo web</div>
                            <ul class='profesiones-top-libraries'>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                                <li>RAW</li>
                                <li>Photoshop CC</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>
</section>

