<app-page-header
	[titulo]="'Iniciar Sesion'"
>

	<ngx-spinner 
		bdColor = "rgba(254,251,251,0.6)" 
		size = "large" 
		color = "#EC4243" 
		type = "ball-scale-multiple" 
		zIndex = 99
		name="spilogin"
		[fullScreen] = "false">
			<p style="color: black" > Cargando... </p>
	</ngx-spinner>

	<div class="text-center social-btn mt-3 mb-3">
		<a href="#" class="btn btn-primary mr-5"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
		<a href="#" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Google</a>
	</div>

	<h4 class="text-center">or</h4>
	<hr> 
	<form ngNativeValidate [formGroup]="forma" (ngSubmit)="ingresar()">
		<div class="form-group row">
			<label class="asterisco col-sm-3">Email</label>
			<div class="col-sm-8">
				<div class="form-group has-search">
					<span class="fa fa-user form-control-feedback"></span>
					<input type="email" class="form-control" name ='email' formControlName='email'>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="asterisco col-sm-3">Contraseña</label>
			<div class="col-sm-8">
				<div class="form-group has-search">
					<span class="fa fa-unlock-alt form-control-feedback"></span>
					<input type="password" class="form-control" name ='password' formControlName='password' >
				</div>
			</div>
		</div>
	
		<div class="checkbox mb-3">
		<label>
			<input type="checkbox" name ='recuerdame' formControlName='recuerdame'> Recuerdame
		</label>
		</div>
		<button class="btn btn-lg btn-danger btn-block" type="submit">Ingresar</button>
	</form >
</app-page-header>



