<div id="home-video">
    <div class="row">
        <div class="col-md-6">
            <div class="home-video-left">
                <a href="#" class="home-video-play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="home-video-right">
                <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </div>
    </div>
  
    <div class="home-video-popup">
        <div class="home-video-iframe-area">
            <a class="home-video-close-btn" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
            <iframe width="854" height="480" src="https://www.youtube.com/embed/n9AVEl9764s" allowfullscreen></iframe>
        </div>
    </div>
  
  </div>
  