<div id="home-video">
    <div class="row">
        <div class="col-md-6">
            <div class="home-video-left" [style]="'background-image: url('+dataVideo.imagen+')'">
                <a href="#" class="home-video-play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="home-video-right">
                <p>{{ dataVideo.descripcion }}</p>
            </div>
        </div>
    </div>
  
    <div class="home-video-popup">
        <div class="home-video-iframe-area">
            <a class="home-video-close-btn" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
            <iframe width="854" height="480" [src]="urlSafe" allowfullscreen></iframe>
        </div>
    </div>
  
  </div>
  