
<app-content-crear></app-content-crear>
<app-content-edit></app-content-edit>

<app-content-wrapper
    [titulo]="'Lista de categorias'"
    [loader]= "loading"
>

<ng-container content-wrapper-options>
    <button class="btn btn-sm btn-primary btn-option" (click)="openCrear()" *ngIf="data.length > 0">
        Crear categoria
    </button>
</ng-container>

<ng-container *ngIf="data.length > 0;else templateVacio">
    <div class="container-fluid pt-3">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Buscar por id o nombre" name='searchField' [(ngModel)]="searchField" (keyup)="pageActual=1">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-4" *ngFor="let item of data | filterData:{search:searchField,keys:['nombre','_id']} | paginate: { itemsPerPage: 6, currentPage: pageActual }">
                <app-card-item 
                    [item]="item"
                    (opcionEdit)="redirectEdit($event)"
                ></app-card-item>
            </div>

            <div class="w-100"></div>
            <div class="col-md-12 pt-3">
                <pagination-controls 
                    (pageChange)="setPageActual($event)" 
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                    autoHide="true"
                    responsive="true"
                    maxSize="5"
                ></pagination-controls>
            </div>
        </div>
    </div>

</ng-container>

<ng-template #templateVacio>
    <app-content-state-img 
        [titulo]="'Parece que no tienes ninguna categoria creada'" 
        [subtitulo]="'Afortunadamente, es muy facil crear uno.'" 
        [imagen]="'assets/images/lista_vacia.svg'"
    > 
        <button type="button" class="btn btn-primary ppb-3" (click)="openCrear()">Crear Categoria</button>
    </app-content-state-img>
</ng-template>

</app-content-wrapper>