<div class="content-wrapper">

    <div class="card-body">
        <ngx-spinner 
        bdColor = "rgba(242,241,241,1)" 
        size = "large" 
        color = "#EC4243" 
        type = "ball-scale-multiple" 
        zIndex = 3
        [fullScreen] = "true"
    >
        <p style="color: black" > Cargando... </p>
    </ngx-spinner>

    <div class="content">
        <!--BreadCrumb-->
        <div class="container-fluid  mb-1" *ngIf="titulo">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="float-left" style="display:inline;">{{ titulo }}</h5>
                    
                    <ng-content  select="[content-wrapper-options]"></ng-content>
                </div>
            </div>
        </div>
        <!--BreadCrumb-->

        <ng-content></ng-content>
    </div>
</div>