<app-content-wrapper>
    <app-breadcrumb [titulo]="'Lista de especialidades'"></app-breadcrumb>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Busca por nombre o id" name='searchField' [(ngModel)]="searchField">
                </div>
            </div>
            <div class="w-100"></div>

            <div class="col-md-4" *ngFor="let item of data | filterData:{search:searchField,keys:['nombre']} | paginate: { itemsPerPage: 6, currentPage: pageActual }">
                <div class="card">
                    <div class="card-body">
                        {{ item.nombre }}
                    </div>
                </div>
            </div>
            
            <div class="w-100"></div>
            <div class="col-md-12 pt-3">
                <pagination-controls 
                    (pageChange)="pageActual = $event" 
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                    autoHide="true"
                    responsive="true"
                    maxSize="5"
                ></pagination-controls>
            </div>
        </div>
    </div>

</app-content-wrapper>