<app-content-wrapper>
	<app-page-header
		[titulo]="'Registrate'"
	>

	<div class="text-center social-btn mt-3 mb-3">
		<a href="#" class="btn btn-primary mr-5"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
		<a href="#" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Google</a>
	</div>

	<h4 class="text-center">or</h4>
	<hr> 
	<div class="bd-callout bd-callout-info">  
		<p>Los campos marcados con <i class="asterisco"></i> son requeridos</p>
	</div>
	<form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrar()" class="mt-5">
		<div class="form-group">
			<label class="asterisco">Nombre</label>
			<input type="nombre" class="form-control" name ='nombre' formControlName='nombre' required>
		</div>
		<div class="form-group">
			<label class="asterisco">Email</label>
			<input type="email" class="form-control" name ='email' formControlName='email' required>
		</div>
		<div class="form-group">
			<label class="asterisco">Contraseña</label>
			<input type="password" class="form-control" name ='password' formControlName='password' required>
		</div>
		<div class="form-group">
			<label class="asterisco">Confirmar contraseña</label>
			<input type="password" class="form-control" name ='password2' formControlName='password2' required>
		</div>

		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input" name ='tipo' formControlName='tipo'>
			<label class="form-check-label">Registrarme como profesional</label>
		</div>
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input " name ='condiciones' formControlName='condiciones' required>
			<label class="form-check-label ">Acepto los terminos y condiciones<i class="asterisco"></i></label>
		</div>

		<button class="btn btn-lg btn-danger btn-block" type="submit">Registrarme</button>
	</form>
	</app-page-header>
</app-content-wrapper>


