<app-content-wrapper
    [titulo] = "'Profesiones mas buscadas'"
>
    
<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-md-4 ">
            <app-filtros-busqueda></app-filtros-busqueda>
        </div>
        
        <div class="col-md-8">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" *ngFor="let item of listaProfesionales">
                        <app-profesional-item-card></app-profesional-item-card>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
</app-content-wrapper>
