<app-modal
    [titulo] ="'Crear categoria'"
    [nombre] ="'modalCrear'"
    [spinner]="spinner"
    [footer] ="'true'"
    [textButton]="'Guardar'"
    (actionButton)="crear()"
>
<form ngNativeValidate [formGroup]="forma" (ngSubmit)="crear()" >
    <small>Los campos marcados en <span class="icon-asterisco"></span> son requeridos</small>
    <div class="form-group row pt-2">
        <label class="icon-asterisco col-sm-3">Nombre</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Nombre" name='nombre' formControlName='nombre'>
            <small class="form-text text-danger" *ngIf="forma.get('nombre').invalid  && marcadorSubmit">{{forma.get('nombre').errors | formError}}</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3">Icono <i [class]="forma.get('icono').value"></i></label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Icono" name='icono' formControlName='icono'>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3">Estado</label>
        <div class="col-sm-9">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2" formControlName='estado'>
                <label class="custom-control-label" for="customSwitch2"></label>
            </div>
        </div>
    </div>
</form>
</app-modal>
