<div class="card mb-3 profesional-item">
    <img src="https://source.unsplash.com/collection/9700225" class="card-img-top" alt="...">
    
    <div class="favorito-profesional-item">
        <i class="fa fa-heart-o float-right"></i>
    </div>
    
    <div class="card-body">
        <p class="card-text">
            <small class="text-muted">Diseñador grafico</small>
        </p>
        <div class="calificacion-profesional-item">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <h6>Nombre Profesional</h6>
        <a class="card-link" href="#" [routerLink]="'/profesiones-perfil'">ver perfil</a>
    </div>
</div>