<div class="card m-3"  style="height: 90%;">
    <div class="card-body">
        <app-filter-collapse>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name="nombre">
            </div>
            
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2">Estado</label>
            </div>
            
            <button type="submit" class="btn btn-danger mt-3">Buscar</button>
        </app-filter-collapse>
    </div>
  </div>