<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">{{ titulo }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-card-section">
    <div class="container">
        <div class="page-card-block bg-white">
            <div class="row">
                <div class="col-md-12">
                    <ng-content></ng-content>                
                </div>
            </div>
        </div>
    </div>
</div>