<div class="categorias-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h2>CATEGORIAS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4" *ngFor="let item of dataCategorias">
                <div class="categorias-circle-container">
                    <i class="fa fa-shopping-cart categorias-icon"></i>
                </div>
                <p>{{ item.nombre }}</p>
            </div>
        </div>
    </div>
</div>