<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="error-img" src="assets/images/error.svg" alt="img">
            </div>
            <div class="col-md-12 ">
                <div class="error-text">
                    <!--<h1>404 Error</h1>-->
                    <h4>¡Uy! ¡Esta página no se pudo encontrar!</h4>
                    <p>Lo sentimos, pero la página que busca no existe, se ha eliminado o se ha cambiado el nombre.</p>
                    <a href="#" class="btn btn-primary btn-round">Ir a la pagina principal</a>
                </div>
            </div>
        </div>
    </div>
</div>
