
$color-primary: #EC4243;
$color-secundary: #EF6F6C;
$color-black: #000000;
$color-blue: #0565A1;
$color-blue-secunday :#2571A1;
$color-blue-hard: #0B3854;
$color-grey: #4C5B5C;
$color-white:#ffffff;
$color-bg: #f9f9f9;
$color-filter: #080d15;

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
$color-header: $color-white;
$color-header-logo: $color-black;

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
*/  
$color-nav-item: $color-black;
$color-nav-link: $color-white;
$color-nav-active: $color-primary;
$color-nav-toggle: $color-black;
$color-nav-border-toggle: $color-black;

/*
|--------------------------------------------------------------------------
| Button
|--------------------------------------------------------------------------
*/  
$color-button-custom: $color-primary;