@import "../../../../../sas/abstracts/variables.scss";

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: $color-black;
    background-color: transparent;
    border-bottom: 2px solid $color-primary;
    border-radius: 0px;
  }