*{
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
}

body {
	font-weight: 400;
	background-color: $color-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

img {
	border: none;
	max-width: 100%;
}

a {
	color: $color-blue-secunday
}

a:hover  {
	color: $color-blue
}

.fa {
	font-size: 1rem;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $color-filter;
    opacity: .7;
}

.card {
	border-radius: 10px;
    background-color: $color-white;
}

.btn-custom {
	background-color: $color-button-custom;
	color: $color-white;
}

.content-wrapper {
	//min-height: 300px;
	max-width: 1300px;
	min-height: 500px;
	padding-top: 5.3rem;
	margin: 0 auto;
}

.divider {
	border-top: 1px solid rgb(0,0,0,.1);
}

.icon-asterisco::after {
	color: $color-primary;
	font-size: 1.5rem;
	content: ' *'
}

//input de busqueda
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
