<div class="card profile-card"> 
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3 profile-image">
                    <img class="rounded-circle" src="https://source.unsplash.com/collection/9699993" alt="blgo image" >
                </div>
                <div class="col-md-7 profile-info">
                    <h3>Reimon Piter</h3>
                    <p>Especialista En Diseño Y Administracion De Sistema Especialista En Diseño Y Administracion De Sistema Sistema Especialista En Diseño Y Administracion De Sistema</p>
    
                    <p><strong>Valor Hora:</strong>  $ 35.000</p>
                    <p><strong>Experiencia:</strong>  2 - 5 años</p>
                    
                </div>
                <div class="col-md-2 d-flex flex-column profile-solicitud">
                    <div class="profile-favorito text-center">
                        <i class="fa fa-heart-o"></i>
                    </div>
    
                    <div class="profile-button">
                        <button type="button" class="btn btn-danger btn-block">Contratar</button>
                    </div>
                    
                    <div class="text-center profile-calificacion">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
    
                <div class="w-100 mb-3 divider"></div>
    
                <div class="col-md-12  d-flex justify-content-center profile-proyectos">
                    <p><strong>Proyectos completados:</strong>  10</p>
                    
                    <div class="profile-divider-vertical"></div>
                    
                    <p><strong>Proyectos en curso:</strong>  0</p>
                    
                    <div class="profile-divider-vertical"></div>
    
                    <p><strong>Calificaciones de los clientes:</strong>  5</p>
                </div>
            </div>
        </div>
    </div>
</div>